<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>

<body>
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand">Counselor</a>
    </div>
    <ul class="nav navbar-nav">
      <li class="active"><a href="counselor_home.html">Home</a></li>
      <li><a href="student_list.html">Student List</a></li>
      <li><a href="incident_form.html">Incident List</a></li>
    </ul>
  </div>
</nav>
<h1>This is your Incident!</h1>
    <form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <input type="submit" value="Submit" />
</form>
</body>
</html>